
.contact_name input:focus + .contact_lable .contact_span, .contact_name input:valid + .contact_lable .contact_span{
    translate: 0% -140%;
    font-size: .65rem;
}

.contact_name input:focus + .contact_lable:after, .contact_name input:valid + .contact_lable:after{
    translate: 100%;
}

.contact_email input:focus + .contact_lable .contact_span, .contact_name input:valid + .contact_email .contact_span{
    translate: 0% -140%;
    font-size: .65rem;
}

.contact_email input:focus + .contact_lable:after, .contact_email input:valid + .contact_lable:after{
    translate: 100%;
}

.contact_text textarea:focus + .contact_text_lable .text_span, .contact_text textarea:valid + .contact_text_lable .text_span{
    translate: 0% 0%;
    font-size: .65rem;
    opacity: .1;
}

.contact_text textarea:focus + .contact_text_lable:after, .contact_text textarea:valid + .contact_text_lable:after{
    translate: 100%;
}
