.hero-img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    h1{
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        span{
            color: white;
            text-transform: capitalize;
            font-size: 6rem;
            @include for-size(tablet-only){
                font-size: 3rem;
            }
        }
    }
}

.selfie-img{
    border-radius: 100%;
}