body{
    overflow-x: hidden;
    margin: 0;
    position: relative;
}
.wrapper{
background: rgb(0,1,38);
min-height: 100vh;
max-width: 100vw;
display: flex;
flex-direction: column;
}

.content{
    position: relative;
}

.custom-shape-divider-bottom-1668620482 {
    position: absolute;
    bottom: -104;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668620482 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
}

#animation-fill{
    fill: url(#animation-svg) #fff;
}

#web-fill{
    fill: url(#web-svg) #fff;
}
#graphics-fill{
    fill: url(#graphics-svg) #fff;
}
#art-fill{
    // fill:url(#art-svg) #fff
    fill: $background-color-5
}
footer{
    background-color: $nav-color;
    padding: 8px;
    margin-top: auto;
    text-align: center;
    span{
        color: #fff;
        font-size: 1.1rem;
        font-family: $Header-font;
    }
}

#web{
    background: $background-color-1;
    background: linear-gradient(180deg, $background-color-1 98.5%, $background-color-2 99%);
}

#graphics{
    background-color: $background-color-2;
    background: linear-gradient(180deg, $background-color-2 98.5%, $background-color-3 99%);
}

#animation{
    background: $background-color-3;
    background: linear-gradient(180deg, $background-color-3 99%, $background-color-4 99%);
}
#arts{
    background-color: $background-color-4;
    background-image: linear-gradient(180deg, $background-color-4 99%, $background-color-5 99%);
}