/* Font families */
@font-face {
  font-family: "IBM_Plex_Sans";
  src: url(./../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
  src: local("IBM_Plex_Sans"), url(./../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto/Roboto-Light.ttf);
  src: local("Roboto"), url(./../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-display: swap;
}
h1, h2, h3, h4, h5 {
  font-family: "IBM_Plex_Sans";
}

p, li, span {
  font-family: "Roboto";
}

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.carousel {
  width: 100% !important;
  margin-top: 0px !important;
}
.carousel div img {
  -o-object-fit: contain;
     object-fit: contain;
}

.thumbs-wrapper {
  display: none;
}

.control-dots {
  margin: 0 !important;
}

body {
  overflow-x: hidden;
  margin: 0;
  position: relative;
  width: 100vw;
}

.wrapper {
  background: rgb(0, 1, 38);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.main-content-wrapper {
  min-width: 100vw;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000110;
  background-image: linear-gradient(180deg, #000155 10%, #000140 25%, #000130 85%, #000110 100%);
}

.content {
  position: relative;
}

.custom-shape-divider-bottom-1668620482 {
  position: absolute;
  bottom: -104;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668620482 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 54px;
}

.design-process {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #000110;
  background-image: linear-gradient(180deg, #000155 10%, #000140 25%, #000130 85%, #000110 100%);
}

.design-content-wrapper {
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
  max-width: 1400px;
  padding: 15px;
}

#animation-fill {
  fill: url(#animation-svg) #fff;
}

#web-fill {
  fill: url(#web-svg) #fff;
}

#graphics-fill {
  fill: url(#graphics-svg) #fff;
}

#art-fill {
  fill: #000155;
}

footer {
  background-color: #1A3461;
  padding: 8px;
  margin-top: auto;
  text-align: center;
}
footer span {
  color: #fff;
  font-size: 1.1rem;
  font-family: "IBM_Plex_Sans";
}

.design-process {
  background-color: #000110;
  background-image: linear-gradient(180deg, #000155 10%, #000140 25%, #000130 85%, #000110 100%);
}

#web {
  background: #000110;
  background: linear-gradient(180deg, #000110 98.5%, #000120 99%);
}

#graphics {
  background-color: #000120;
  background: linear-gradient(180deg, #000120 98.5%, #000130 99%);
}

#animation {
  background: #000130;
  background: linear-gradient(180deg, #000130 99%, #000140 99%);
}

#arts {
  background-color: #000140;
  background-image: linear-gradient(180deg, #000140 99%, #000155 99%);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000155;
  height: 60px;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.9;
}
@media (max-width: 768px) {
  nav {
    opacity: 1;
  }
}

.Nav_Links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .Nav_Links {
    translate: -100%;
    flex-direction: column;
    position: fixed;
    top: 10px;
    left: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    justify-content: start;
    background-color: #000155;
    opacity: 1;
    transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
  }
}

.Nav_items {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

.Nav_Links > li {
  margin: 0 1rem;
  position: relative;
}
@media (max-width: 768px) {
  .Nav_Links > li {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .Nav_Links > li:first-child {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .Nav_Links > li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.Nav_Links > li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .Nav_Links > li a {
    font-size: 2rem;
  }
}
.Nav_Links > li a:hover {
  color: pink;
}

.Nav_Links li ul {
  position: absolute;
  list-style: none;
  margin-top: 0.2rem;
  left: 0px;
  background-color: #000155;
  padding: 0px;
  transition-duration: 0.5s;
  opacity: 0;
  display: none;
  z-index: 100;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .Nav_Links li ul {
    flex-direction: column;
    position: static;
  }
}

.dropdown span {
  font-size: 0.8rem;
  padding: 3px;
}

.dropdown > a {
  pointer-events: none;
}

.dropdown:hover > ul, .dropdown:focus-within > ul, .Nav_Links .dropdown ul:hover, ul, .Nav_Links .dropdown ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav_dropdown li {
  padding: 10px 10px;
}

.dropdown_link {
  padding: 20px 10px;
}

.Mobile_Nav_container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .Mobile_Nav_container {
    display: flex;
  }
}

#Mobile_Nav_toggle {
  display: none;
}

#Mobile_Nav_toggle:checked ~ .Nav_Links {
  translate: 0% !important;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
}

.Mobile_Nav,
.Mobile_Nav::before,
.Mobile_Nav::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
@media (max-width: 768px) {
  .Mobile_Nav,
.Mobile_Nav::before,
.Mobile_Nav::after {
    display: flex;
  }
}

.Mobile_Nav::before {
  content: "";
  margin-top: -8px;
}

.Mobile_Nav::after {
  content: "";
  margin-top: 8px;
}

.Dropdown::hover .nav_dropdown {
  display: flex;
}

#Mobile_Nav_toggle:checked + .Mobile_Nav_container .Mobile_Nav::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#Mobile_Nav_toggle:checked + .Mobile_Nav_container .Mobile_Nav {
  background: rgba(255, 255, 255, 0);
}

#Mobile_Nav_toggle:checked + .Mobile_Nav_container .Mobile_Nav::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.custom-shape-divider-top {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top .shape-fill {
  fill: #000140;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #000110;
}

.hero-img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.hero-img h1 {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  margin: 10px;
}
.hero-img h1 span {
  color: white;
  text-transform: capitalize;
  font-size: 6rem;
  line-height: 1;
}
@media (max-width: 768px) {
  .hero-img h1 span {
    font-size: 3rem;
  }
}

.selfie-img {
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .selfie-img {
    width: 200px;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .selfie-img {
    width: 150px;
    height: 100%;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .social-links a {
    padding-right: 15px;
  }
}
.social-links a:hover svg {
  fill: #1A3461;
}
@media (max-width: 425px) {
  .social-links a svg {
    width: 30px;
    height: 100%;
  }
}

.tech-skills-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
}
.tech-skills-container h1 {
  font-size: 2.5rem;
  color: whitesmoke;
}
@media (max-width: 425px) {
  .tech-skills-container h1 {
    font-size: 2rem;
  }
}

.tech-skills {
  background-color: #000155;
  max-width: 680px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0px 0px 5px #1A3461;
}
@media (max-width: 535px) {
  .tech-skills {
    width: 100%;
  }
}
.tech-skills span {
  color: whitesmoke;
  font-family: "IBM_Plex_Sans";
}
@media (max-width: 425px) {
  .tech-skills span {
    font-size: 0.8rem;
  }
}

.skill {
  background-color: #1A3461;
  display: flex;
  padding: 0.9rem;
  flex: 0 1 30%;
  align-items: center;
  border-radius: 5px;
  justify-content: space-evenly;
  margin: 1%;
}
@media (max-width: 535px) {
  .skill {
    padding: 0.5rem;
  }
}
.skill img {
  padding-right: 0.5rem;
}
@media (max-width: 535px) {
  .skill img {
    width: 30px;
    height: 30px;
  }
}

.hero-text {
  background-color: #000155;
  display: flex;
  align-self: center;
  max-width: 680px;
  border-radius: 5px;
  padding: 0.5rem;
}
.hero-text span {
  color: whitesmoke;
  font-size: 1.2rem;
}

.web-hero {
  position: relative;
  min-height: 55vh;
}
.web-hero::before {
  content: "";
  background-image: url("../images/web-background.webp");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
}

.graphics-hero {
  position: relative;
  min-height: 55vh;
}
.graphics-hero::before {
  content: "";
  background-image: url("../images/Artboard_1.webp");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
}

.arts-hero {
  position: relative;
  min-height: 55vh;
  margin-top: 0px;
  background-color: #0d2960;
}
.arts-hero::before {
  content: "";
  background-image: url("../images/fine_arts_hero.webp");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
}

.animation-hero {
  position: relative;
  min-height: 55vh;
}
.animation-hero::before {
  content: "";
  background-image: url("../images/animation_hero.webp");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
}

.green-home-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.green-home-hero::before {
  content: "";
  background-image: url("../images/green-home-living.png");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.green-home-hero .content-hero-header {
  position: relative;
  z-index: 2;
}

.projects {
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  margin: auto;
}

.content-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-hero-header {
  font-size: 5rem;
  color: white;
  text-align: center;
}
@media (max-width: 425px) {
  .content-hero-header {
    font-size: 2rem;
  }
}

.panel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 0.5fr);
  align-items: center;
  margin: 20px 0px 30px 0px;
  transition: transform 0.2s;
  width: 100%;
}
.panel:nth-child(even) .panel-picture {
  grid-area: 1/6/2/11;
}
@media (max-width: 768px) {
  .panel:nth-child(even) .panel-picture {
    display: none;
  }
}
.panel:nth-child(even) .panel-description {
  grid-area: 1/1/2/7;
  margin-left: 0px;
  margin-right: 30px;
  padding: 20px;
}
@media (max-width: 768px) {
  .panel:nth-child(even) .panel-description {
    grid-area: 1/1/1/12;
    width: 100%;
    background-color: hsla(218deg, 58%, 16%, 0.9);
    border-radius: 10px;
  }
}
.panel:nth-child(even) .project-title {
  text-align: left;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .panel:nth-child(even) .project-title {
    text-align: center;
  }
}
.panel:nth-child(even) .tech-list {
  justify-content: flex-start;
  padding-left: 45px;
}
.panel:nth-child(even) .project-links {
  justify-content: flex-start;
  padding-left: 50px;
}
.panel:nth-child(even) .project-links a {
  padding-left: 5px;
}
@media (max-width: 768px) {
  .panel:nth-child(even) .tech-list, .panel:nth-child(even) .project-links {
    justify-content: flex-end;
  }
}

.panel-description {
  position: relative;
  grid-area: 1/6/2/12;
  z-index: 2;
  padding: 20px;
}
@media (max-width: 768px) {
  .panel-description {
    grid-area: 1/1/1/12;
    width: 100%;
    background-color: hsla(218deg, 58%, 16%, 0.9);
    border-radius: 10px;
  }
}

.project-title {
  text-align: right;
  font-size: 2.3rem;
  color: whitesmoke;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .project-title {
    text-align: center;
    font-size: 1.85rem;
  }
}

.project-description {
  position: relative;
  padding: 20px;
  margin-left: 50px;
  background-color: hsla(218deg, 58%, 16%, 0.95);
  border-radius: 10px;
  box-shadow: 0 10px 30px -15px hsl(218deg, 58%, 16%);
}
.project-description p {
  color: whitesmoke;
}
@media (max-width: 768px) {
  .project-description {
    margin: auto;
    background-color: hsla(218deg, 58%, 16%, 0);
    box-shadow: none;
  }
}

.panel-description-img {
  display: none;
}
@media (max-width: 768px) {
  .panel-description-img {
    margin: auto;
    display: block;
  }
}

.tech-list {
  color: whitesmoke;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 5px 0px 0px 0px;
}
.tech-list li {
  padding: 5px;
}
@media (max-width: 768px) {
  .tech-list {
    padding-left: 5px;
  }
  .tech-list li {
    font-size: 0.8rem;
    padding: 5px;
  }
}

.panel-picture {
  position: relative;
  grid-area: 1/2/2/7;
  width: 100%;
}
.panel-picture img {
  border-radius: 10px;
}
@media (max-width: 768px) {
  .panel-picture {
    display: none;
  }
}
.panel-picture:hover {
  z-index: 100;
  transform: scale(1.2);
}

.project-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.project-links a {
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  position: relative;
  background-color: #000155;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 35%;
  border-radius: 15px;
  padding: 15px;
  margin: 25px;
  background-color: #000120;
}
@media (max-width: 768px) {
  .contact form {
    min-width: 90vw;
  }
}
@media (max-width: 1300px) {
  .contact form {
    width: 50%;
  }
}
.contact h1 {
  margin-bottom: 15px;
  color: whitesmoke;
}
.contact textarea {
  color: whitesmoke;
}
.contact input:focus, .contact textarea:focus {
  color: whitesmoke;
  border: none;
  outline: none;
}

.contact-button {
  border: none;
  border-radius: 5px;
  width: 100px;
  background-color: whitesmoke;
  color: #000110;
}
.contact-button:hover {
  background-color: #000155;
}

.contact-name, .contact-email {
  width: 290px;
  position: relative;
  height: 35px;
  overflow: hidden;
  margin: 0px 10px 20px;
  font-family: "Roboto";
}
.contact-name input, .contact-email input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  color: whitesmoke;
}
.contact-name label, .contact-email label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
  color: whitesmoke;
  transform: all 0.2s ease;
}
.contact-name label:after, .contact-email label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #1A3461;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.contact-name label span, .contact-email label span {
  position: absolute;
  bottom: 0px;
  left: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.contact-text {
  position: relative;
  overflow: hidden;
}
.contact-text textarea {
  width: 290px;
  height: 100px;
  background-color: transparent;
  border: none;
}
.contact-text label {
  position: absolute;
  bottom: 98%;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: hsl(0deg, 0%, 50%);
  transform: all 0.2s ease;
}
.contact-text label:before {
  content: "";
  border-bottom: 2px solid white;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -90%;
  overflow: hidden;
}
.contact-text label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #1A3461;
  left: 0px;
  bottom: -90%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  overflow: hidden;
}
.contact-text span {
  position: absolute;
  color: whitesmoke;
  top: 100%;
  left: 4px;
}

.brainstorming, .design-development {
  display: flex;
  flex-direction: column;
}
.brainstorming h1, .design-development h1 {
  color: whitesmoke;
  font-size: 2.23rem;
  text-align: center;
}
.brainstorming p, .design-development p {
  color: whitesmoke;
  padding: 15px;
  font-size: 1.25rem;
}

.design-carousel {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.design-carousel .carousel-root {
  max-width: 700px;
}
@media (max-width: 768px) {
  .design-carousel {
    display: flex;
    flex-direction: column;
  }
}

#design-carousel-2 {
  grid-template-columns: 1fr;
}

.contact-name input:focus + .contact-lable .contact-span, .contact-name input:valid + .contact-lable .contact-span {
  translate: 0% -140%;
  font-size: 0.65rem;
}

.contact-name input:focus + .contact-lable:after, .contact-name input:valid + .contact-lable:after {
  translate: 100%;
}

.contact-email input:focus + .contact-lable .contact-span, .contact-email input:valid + .contact-lable .contact-span {
  translate: 0% -140%;
  font-size: 0.65rem;
}

.contact-email input:focus + .contact-lable:after, .contact-email input:valid + .contact-lable:after {
  translate: 100%;
}

.contact-text textarea:focus + .contact-text-lable .text-span, .contact-text textarea:valid + .contact-text-lable .text-span {
  translate: 0% 0%;
  font-size: 0.65rem;
  opacity: 0.1;
}

.contact-text textarea:focus + .contact-text-lable:after, .contact-text textarea:valid + .contact-text-lable:after {
  translate: 100%;
}/*# sourceMappingURL=styles.css.map */