$nav-color: #1A3461;
$background-color-1:#000110;
$background-color-2:#000120;
$background-color-3:#000130;
$background-color-4:#000140;
$background-color-5:#000155;
$backgroung-grad: linear-gradient(180deg, $background-color-5 10%, $background-color-4 25%, $background-color-3 85%, $background-color-1 100%);
$Header-font: 'IBM_Plex_Sans';
$Copy-font: 'Roboto';

@mixin for-size($size){
    @if $size == tablet-only{
        @media (max-width: 768px){ @content;}
    }
    @if $size == small-tablet-only{
        @media (max-width: 720px){ @content;}
    }
    @if $size == large-phone-only{
        @media (max-width: 535px) {@content;}
    }
    @if $size == phone-only{
        @media (max-width: 460px){ @content;}
    }
    @if $size == small-phone-only{
        @media (max-width: 300px){ @content;}
    }
    @if $size == small-desktop{
        @media (max-width: 1300px){@content;}
    }
    @if $size == Desktop{
        @media (min-width: 1300px) {@content;}
    }
    @if $size == large-desktop{
        @media (min-width: 2000px) {@content;}
    }
}

:root{
    --fs-hero-name: clamp(1rem, calc(5vw + 1rem), 6rem);
    --fs-footer:clamp(.5rem, calc(2.5vw + .2rem), 1.5rem);
}
/* Font families */
@font-face{
    font-family: 'IBM_Plex_Sans';
    src: url(./../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    src: local('IBM_Plex_Sans'),
         url(./../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(./../fonts/Roboto/Roboto-Light.ttf);
    src: local('Roboto'),
        url(./../fonts/Roboto/Roboto-Light.ttf) format('truetype');
    font-display: swap;
}

h1, h2, h3, h4, h5{
    font-family: $Header-font;
}

p, li, span{
    font-family: $Copy-font;
}

@import './reset';
@import './carousel';
@import './wrappers';
@import './nav';
@import './hero';
@import './content-heros';
@import './content';
@import './contact';
@import './design-process';
@import './animations';
@import './lightbox';